# A) IMAP (the key file currently needs to be without a passphrase, see README.md)

# A.1) IMAP SSL Connection (to port 993)
IMAP_HOST=imap.example.com
IMAP_USERNAME=username
IMAP_PASSWORD=password

# A.2) Allow self-signed or 3rd party certificate
IMAP_CERT_ALLOW_OTHER=off
IMAP_CERT_FILE=
IMAP_KEY_FILE=

# A.3) Source and destination folders
IMAP_SEARCH_FOLDER=INBOX
IMAP_MOVE_PROCESSED_MESSAGES=on
IMAP_PROCESSED_FOLDER=ProcessedTimelineCSV


# B) Timespans
TIMESPANS_ADD_EACH_ID_ONLY_ONCE=on


# C) Backend choice
BACKEND_MODULE=lib.backends.printer_example
BACKEND_CLASS=PrinterExample

# D) Optional: your Backend-specific options
# …
